@import url("//fonts.googleapis.com/css?family=Marck+Script");
@import url("//fonts.googleapis.com/css?family=Catamaran");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 5vw;
  height: 5vw;
}
.cPointer{
  cursor: pointer;
}

.playbutton{
  background-color: #F2CC8F;
  border-radius: 100%;
  cursor: pointer;
  border-color: #0000;
}

.playerControl-bg{
  background-color: rgba(61, 64, 91, 0.5);
  border-radius: 50%;
}


.playerControl-icon{
  max-width: 2rem;
  max-height: 2rem;
  cursor: pointer;
  margin: 1rem;
}

.playerControls-text{
  font-family:'Marck Script';
  color:#F4F1DE;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.addPl{
  width: 2.5rem;
  height: 2.5rem;
}

.playlists{
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5vw;
  position: absolute;
  padding: 1vw;
  width: fit-content;
  height: fit-content;
  background: rgba(61, 64, 91, 0.7);
  border-radius: 30px;
  justify-content: center;
  left: 1vw;
  align-items: center;
  top: 7vh;
}

.autor{
    font-family:'Marck Script';
}

.playlist{
  font-family: 'Catamaran';
  width: 15vw;
  height: 5vh;
  background: rgba(61, 64, 91, 0.9);
  border-radius: 30vw;
  text-align: center;

  color: #F2CC8F;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.cruz{
  margin-left: 1rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.player-timeRelated{
  display: flex;
  justify-content: center;
  font-family: 'Catamaran';
  align-items: flex-end;
  column-gap: 1vw;
  color: #3D405B;
  flex-flow: row;

}

.sliderTime{
    width: 40vw;
}

.songs{
    font-family: 'Catamaran';
    position: absolute;
    left: 30vw;
    width: fit-content;
    height: fit-content;
    background: rgba(61, 64, 91, 0.7);
    border-radius: 30px;
    padding: 1vw;
    display: flex;
    flex-flow: column;
    gap: 0.5vw;
    top:10vh
}

.song{
  width: fit-content;
  height: 5vh;
  padding: 1vw;
  background: rgba(61, 64, 91, 0.9);
  border-radius: 30vw;
  color: #F2CC8F;
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.favs{
  font-family: 'Catamaran';
  position: absolute;
  left: 30vw;
  width: fit-content;
  height: fit-content;
  background: rgba(61, 64, 91, 0.7);
  border-radius: 30px;
  padding: 1vw;
  display: flex;
  flex-flow: column;
  gap: 0.5vw;
  top:10vh
}

.fav{
  width: fit-content;
  height: 5vh;
  padding: 1vw;
  background: rgba(61, 64, 91, 0.9);
  border-radius: 30vw;
  color: #F2CC8F;
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}


.player{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  /* bottom: 10vh; */
  /* left: 20vw; */
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-bottom: 5vw;
}

.playerControls{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vw;
}

.player-data{
  font-family: 'Marck Script';
  color: #3D405B;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20vh;
}
.data-name{
    font-size: 4rem;
}
.data-artist{
    font-size: 2rem;
}

.nav{
  font-family:'Marck Script';
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.songPlay{
  width: 2vw;
  height: 2vw;
  color: #3D405B;
}

.modal-buttons{
  display:flex;
  justify-content: center;
  flex-flow:row nowrap;
}

.volume{
  -webkit-appearance: slider-vertical;

}

.volume-icon{
  width: 3rem;
  height: 3rem;
  padding-top:1rem;
}


.mostrar{
  opacity: 100%;
}

.oculto{
  opacity: 0;
}

.volControl{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3rem;
}


.addingPlaylist{
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5vw;
  position: absolute;
  padding: 1vw;
  width: fit-content;
  height: fit-content;
  background: rgba(61, 64, 91, 0.7);
  border-radius: 30px;
  justify-content: center;
  right: 3vw;
  align-items: center;
  bottom: 25vh;
}

.playlistToAdd{
  font-family: 'Catamaran';
  width: 15vw;
  height: 5vh;
  background: rgba(61, 64, 91, 0.9);
  border-radius: 30vw;
  text-align: center;
  color: #F2CC8F;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.blotted{
  text-decoration: line-through;
  text-decoration-color: #E07A5F;
  text-decoration-thickness: 3px;
}

.botones{
  margin-top:1rem;
  margin-left: 1rem;
  font-family: 'Catamaran';
  border-radius: 50vw;
}

.crearPL{
  background-color: #81B29A;
}

.cancelar{
  background-color: #E07A5F;
}

.titulo{
  color: #F2CC8F;
  font-family: 'Catamaran';
}

.entrada{
  color: #F2CC8F;
  border: none;
  border-bottom: 2px solid #81B29A;
  background-color: rgba(61, 64, 91, 0.7%);
}


.iniciarSes{
  font-family: 'Catamaran';
  position: absolute;
  right: 30vw;
  width: fit-content;
  height: fit-content;
  background: rgba(61, 64, 91, 0.7);
  border-radius: 30px;
  padding: 1vw;
  display: flex;
  flex-flow: column;
  gap: 0.5vw;
  top:10vh
}
